/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {

}

article {
  max-width: 50em;
}

@media screen and (min-width: 800px){
  article {
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  margin-left: calc(33.33%)
}

img {
  max-width: 100%;

}
